# Dependencies
node_modules

# Environment
.env
.env.local
.env.production

# Build
dist
build
coverage

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json